<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.2/css/all.css" crossorigin="anonymous" />

</head>
<body>
    <div class="schedule-card">
        <div class="schedule-content">
            <span><i class="far fa-calendar-alt"></i> 07/12</span>
            <p><i class="fal fa-clock"></i> 10:00 - 11:00 | <i class="far fa-users"></i> 0 / 10</p>
        </div>
        <div class="schedule-action">
            <a href="#" class="btn btn-oblong">Agendar</a>
        </div>
    </div>
</body>
</html>