<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Card</title>

    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="blog-card">
        <div class="blog-card-header">
            <h2 class="title">Título do Card</h2>
            <p class="sub-title">Exemplo de texto secundário</p>
        </div>
        <div class="blog-card-image">
            <img src="img/ghibli.jpg" alt="">
        </div>
        <div class="blog-card-bottom">
            <p class="bottom-text">Texto que resume um exemplo da página ou do que o card trata</p>
            <div class="actions-card">
                <button class="action">Curtir</button>
                <button class="action">Compartilhar</button>
            </div>
        </div>
    </div>
</body>
</html>