<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer">

</head>
<body>
    
    <header class="header">
        <div class="logo">
            <i class="fas fa-magic"></i>Magic
        </div>
        <div class="nav-links">
            <a href="#">Spells</a>
            <a href="#">Scrolls</a>
            <a href="#">Items</a>
            <a href="#">Rituals</a>
        </div>
        <div class="icons">
            <i class="fab fa-searchengin" id="search"></i>
            <i class="fas fa-scroll" id="scroll"></i>
            <i class="fas fa-hat-wizard" id="hat"></i>
            <i class="fas fa-bars" id="menu-btn"></i>
        </div>
    </header>

    <script src="./script.js"></script>

</body>
</html>