<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero</title>

    <link rel="stylesheet" href="style.css">

</head>
<body>
    
    <header>

        <nav>
            <div>Logo</div>
            <div>Navigation</div>
        </nav>

    </header>
    <div class="hero-section">
        <div class="hero-img">
            <img src="img/hero.jpg">
        </div>
        <div class="hero-body">
            <h1>A healthy meal delivered to your door, every single day</h1>
            <p>
                The smart 365-days-per-year food subscription that will make you eat healty again
                Tailored to your personal tastes and nutritional needs 
            </p>
            <a href="#" class="btn">Starting eating well</a>
        </div>
    </div>
    <section>
        <div>
            <h2>Some random heading</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Culpa est laboriosam quisquam corporis magnam, 
                deleniti suscipit distinctio tenetur? 
                A hic ipsum obcaecati perferendis nihil 
                quidem magni tempora atque voluptates tenetur?
            </p>
        </div>
    </section>

</body>
</html>